*{
  margin: 0;
  padding: 0;
}

#top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100vh;
  background-color: lightblue;
}

#box{
  display: grid;
  grid-template-columns: auto auto auto;
  width: 25rem;
}

@media screen and (max-width : 600px)
{
  #box{
    width: 80vw;
  }

  #box div {
    
  }
}